<div class="content-full">
  <h1>Pocket Timeline</h1>
  
  <div class="panel">
    <ul>
      <li><%= link_to 'Timelines', timelines_path %></li>
      <li><%= link_to 'Events', events_path %></li>
    </ul>
  </div>
</div>
