<div class="event">
  <p class="event_date">
    <strong>Date:</strong>
    <%= event.date %>
  </p>

  <p class="event_title">
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p class="event_description">
    <strong>Description:</strong>
    <%= event.description %>
  </p>
</div>
